services:
  web:
    build: .
    command: sh -c "gunicorn --bind ${HOST:-0.0.0.0}:${PORT:-8000} --timeout 400 mileage_tracker_config.wsgi:application"
    volumes:
      - .:/app
      - data:/app/data
      - static_volume:/app/staticfiles
    ports:
      - "${PORT:-8000}:${PORT:-8000}"
    environment:
      - DJANGO_SECRET_KEY=production_secret_key_change_me
      - DEBUG=True
      - ALLOWED_HOSTS=${ALLOWED_HOSTS:-localhost,127.0.0.1}
      - CSRF_TRUSTED_ORIGINS=${CSRF_TRUSTED_ORIGINS:-http://localhost:8000}
      - PROD=True
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@example.com
      - DJANGO_SUPERUSER_PASSWORD=admin
      - HOST=${HOST:-0.0.0.0}
      - PORT=${PORT:-8000}
    restart: always

volumes:
  data:
  static_volume:
